<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">
      
    <!-- Start a H2 database. -->
    
    <!-- Create a datasource that connect to that H2 database. --> 
    
    <!-- Create a ClientDAO and inject the datasource for the H2 database. --> 
    
</beans>